<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#000"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BlackPipe</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <style>
    body{
      background: black;
      color: white;
    }
    pre#output{
      margin: 0px;
      background: black;
      color: white;
      height: 75vh;
      overflow: auto;
      border-radius: 0px;
      padding: 10px 10px !important;
      border: 1px solid #555;
    }
    .sidebar-menu{
      border-radius: 0px !important;
    }
    .main-heading{
      padding-top: 20px !important;
    }
    #blackpipe-app .item.active{
      color: #00adb5 !important;
    }
    .session-details{
     margin-top: 0px !important; 
   }
 </style>
</head>
<body id="blackpipe-app">
  <div class="ui container">
    <h1 class="ui header grey main-heading">Black Pipe</h1>
    <h4 class="ui header grey session-details">Session ID : <%= sessionId %></h4>
    <!-- <div class="sub header">Session ID : <%= sessionId %></div> -->

    <div class="ui stackable grid">

      <div class="three wide column">
        <div class="ui inverted vertical fluid menu sidebar-menu">
          <div class="item">
            <div class="header">Filter</div>
            <div class="menu" id="filter-attributes">
              <a class="item" data-enabled="0">Critical</a>
              <a class="item" data-enabled="0">Debug</a>
              <a class="item" data-enabled="0">Error</a>
              <a class="item" data-enabled="0">Info</a>
              <a class="item" data-enabled="0">Warning</a>
            </div>
          </div>
          <div class="item">
            <div class="header">Settings</div>
            <div class="menu">
              <a class="item" id="action-clear">Clear</a>
            </div>
          </div>
        </div> <!-- menu -->
      </div> <!-- column -->

      <div class="thirteen wide column">
        <pre id="output"></pre>   
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script>
    let sessionId = '<%= sessionId %>';
    const socket = io.connect('');
    const outputContainer = document.getElementById("output");
    const clearAction = document.getElementById("action-clear");

    clearAction.onclick = () => {
      outputContainer.innerHTML = '';
    }

    let filterItems = document.getElementById('filter-attributes');

    function alterClass(element, classname, insert) {
      let currentClass = element.className.split(" ");
      if(insert == true){
        currentClass.push(classname);
        element.className = currentClass.join(' '); 
      } 
      else {
        while(currentClass.indexOf(classname) !== -1) {
          currentClass.splice(currentClass.indexOf(classname), 1);
        }
        element.className = currentClass.join(' ');
      }
    }

    filterItems.onclick = (item) => {
      if(item.target.getAttribute('data-enabled') == "0"){
        alterClass(item.target, 'active', true);
        item.target.setAttribute('data-enabled', "1");
      } else {
        alterClass(item.target, 'active', false);
        item.target.setAttribute('data-enabled', "0");
      }
      console.log('item', item);
    }

    socket.on('connect', function(){
      console.log('connected');
      console.log('sessionId', sessionId);
    });

    socket.on(sessionId, (data) => {
      let textnode = document.createTextNode(data.chunk);
      outputContainer.appendChild(textnode);
      outputContainer.scrollTop = outputContainer.scrollHeight;
    });
  </script>
</body>
</html>


